<div>
  <h2>Add a new restaurant:</h2>
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: Restaurant::CATEGORY %>
    <%= f.submit class: 'btn btn-primary mt-2' %>
  <% end %>
</div>
